*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.5s;
    max-height: 750px;
}

:root{
    --black: #000000;
    --azul: #22D4FD;
    --branco: #F6F6F6;
    --hover: #107389;

    --krona: 'Krona One', sans-serif;
    --mont: 'Montserrat', sans-serif;
}


/*Header*/

html{
    background-color: var(--black);
    max-width: 100%;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: transparent; 
}

.container {
    min-height: calc(100vh - 80px); 
    padding-bottom: 80px; 
}

.menu{
    transition: 0.5s;
    margin: 2rem 5rem;
    padding: 1rem 3rem 1rem 5rem;
    font-size: 20px;
    display: flex;
    gap: 29px;
    text-align: center;
}

.menu a{
    width: 10rem;
    height: 3rem;
    line-height: 2.5rem;   
    text-decoration: none;
    color: var(--branco);
    border: 2px solid var(--azul);
    border-radius: 16px;
}

.menu a:hover{
    color: var(--hover);
    transition: 0.5s;
}

/*Main*/

.container{
    transition: 0.9s;
    position: relative;
    display: flex;
    flex-direction: row;
}

.main-title{
    line-height: 48px;
    font-weight: 400;
}

.paragraph{
    line-height: 36px;
    font-weight: 400;
}
.text{
    padding: 4rem 3rem 1rem 5rem;
    width: 45rem;
    color: var(--branco);
    margin: 0 5rem;
}

.text h1{
    font-size: 45px;
    font-family: var(--krona);
    padding-bottom: 0.7em;
    text-align: justify;
}
strong{
    color: var(--azul);
}

.text h4{
    font-family: var(--mont); 
    font-size: 20px;
    font-weight: normal; 
    padding-bottom: 2rem; 
    text-align: justify; 
}

.buttons{    
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 2rem;
    
}

.buttons h3{
    font-family: var(--mont);
    padding: 1rem 0;
}

.fab-buttons{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 0 0 3rem;
}


.instagram,
.github,
.linkedin{
    text-decoration: none;
    color: var(--branco);
    font-family: var(--mont);
    font-size: 20px;
    font-weight: normal;
    width: 20rem;
    height: 3rem;
    line-height: 2.5rem;
    justify-content: center;
    border: 2px solid var(--azul);
    border-radius: 16px;
}

.fab{
    padding: 0 0.7rem 0 0;
}
.buttons .github{
    text-align: center;
}
.buttons .instagram{
    text-align: center;
}
.buttons .linkedin{
    text-align: center;
}

.instagram:hover,
.github:hover,
.linkedin:hover{
    color: var(--hover);
    transition: 0.5s;
}

.img img{
    width: 30rem;
    height: 30rem;
    margin-top: 10%;
    margin-left: 27.5%;
}


/* Footer  */

.cont-footer{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    position:sticky ;
    line-height: 40px;
    background-color: var(--azul);
    height: 80px;
    width: 100%;
    align-items: center;
}


.creditos{
    font-family: var(--mont);
    font-weight: 400px;
    color: var(--black);
    background-color: var(--azul);
    height: 40px;
 }

@media screen and (max-width: 415px){
    body{
        max-width: 360px;
        max-height: 778px;
    }

    .container{
        flex-direction: column-reverse;
    }
    
    .menu{
        padding: 1rem 10% 1rem 15%;
        font-size: 16px;
        margin: 2rem 0 0 1rem;
        gap: 5px;
    }
    
    .menu a {
        width: 20rem;
        height: 2.5rem;
        line-height: 2.3rem;
        border: 0.5px solid var(--azul);
    }

    .img img{
        width: 70%;
        height: 70%;
        margin-top: 10%;
        margin-bottom: 1rem;
        margin-left: 10%;
    }

    .text{
        padding: 1rem 30% 1rem 10%;
        margin: 0 0 0 2rem;
        width: 120%;
        }

    .text h1{
        font-size: 16px;
        line-height: 20px;
    }

    .text h4{
        font-size: 12px;
        line-height: 14px;
    }

    .fab-buttons{
        padding: 0;
    }

    .buttons{
        align-items: center;
    }

    .buttons h3{
        font-size: 16px;
        font-weight: 400;
    }

    .instagram,
    .github,
    .linkedin {
        padding: 0;
        font-size: 16px;
        width: 160%;
        height: 2.5rem;
        line-height: 2.2rem;
    }

    .fab-buttons{
        margin-left: -25%;
    }

    /* Footer */


    .cont-footer{
        line-height: 30px;
        height: 30px;
        width: 130%;
    }

    .creditos{
        margin-left: -5%;
        line-height: 15px;
        height: 15px;
        font-size: 8px;
    }
}

@media screen and (min-width: 415px) and (max-width: 519px) {
    
    body{
        max-width: 480px;
        max-height: 780px;
    }

    .menu{
        padding: 1rem 3rem 1rem 2rem;
        font-size: 24px;
        margin: 1rem 2rem;
        gap: 24px;
    }

    .container{
        flex-direction: column-reverse;
    }

    .menu a{
        width: 8rem;
        height: 3rem;
        line-height: 2.5rem; 
    }

    .img img{
        width: 20rem;
        height: 20rem;
        margin-top: 10%;
        margin-bottom: 3rem;
        margin-left: 5rem;
    }

    .text{
        padding: 1rem 8rem 1rem 1rem;
        margin: 0 0 0 3rem;
        width: 33rem;
    }

    .text h1{
        font-size: 28px;
    }

    .text h4{
        font-size: 20px;
    }

    .buttons{
        align-items: center;
        margin-left: -10%;
    }

    .buttons h3{
        font-size: 20px;
        font-weight: 400;
    }

    .instagram,
    .github,
    .linkedin {
        font-size: 14px;
        width: 15rem;
    }

    .fab-buttons{
        margin-left: -15%;
    }

    /* Footer */


    .cont-footer{
        background-color: var(--azul);
        line-height: 50px;
        height: 50px;
        width: 150%;
        align-items: center;
    }

    .creditos{
        margin-left: -15%;
        line-height: 25px;
        height: 25px;
        font-size: 12px;
    }
    

}

@media screen and (min-width: 519px) and (max-width: 820px) {
    /* Estilos para telas menores, como smartphones */

    body{
        max-width: 695px;
        max-height: 950px;
    }


    .container{
        flex-direction: column-reverse;
    }

    .img img{
        width: 28rem;
        height: 28rem;
        margin-top: 6%;
        margin-bottom: 3rem;
        margin-left: 4rem;
    }

    .menu{
        padding: 1rem 3rem 1rem 2rem;
        font-size: 20px;
        margin: 2rem 2rem 0;
        gap: 24px;
    }

    .menu a {
        width: 9rem;
        height: 4rem;
        line-height: 3.5rem;
    }

    .text{
        padding: 1rem 8rem 1rem 0rem;
        margin: 0 0 0 3rem;
        width: 38rem;
    }

    .text h1{
        font-size: 28px;
        margin-bottom: 1rem;
    }

    .text h4{
        font-size: 20px;
    }

    .buttons{
        align-items: center;
    }

    .buttons h3{
        font-size: 20px;
        font-weight: 400;
    }

    .instagram,
    .github,
    .linkedin {
        font-size: 14px;
        width: 15rem;
    }
    
    
    /* Footer */

    .cont-footer{
        line-height: 50px;
        height: 50px;
        width: 115%;
    }

    .creditos{
        line-height: 25px;
        height: 25px;
        font-size: 14px;
    }
}

@media screen and (min-width: 820px) and (max-width: 930px) {
    /* Estilos para telas médias, como tablets */

    body{
        max-width: 800px;
        max-height: 780px;
    }

    .menu{
        margin: 2rem 2rem;
        padding: 1rem 3rem 1rem 3rem;
        font-size: 18px;
        margin: 2rem 0rem;
        gap: 24px;
    }

    .img img{
        width: 23rem;
        height: 23rem;
        margin-top: 5%;
        margin-left: -20%;
        
    }
    .menu a{
        width: 8rem;
        height: 3rem;
        line-height: 2.5rem; 
    }

    .text{
        padding: 1rem 10rem 1rem 3rem;
        margin: 0 0 0 0rem;
        width: 33rem;
    }

    .text h1{
        font-size: 25px;
    }

    .text h4{
        font-size: 18px;
    }

    .buttons{
        align-items: flex-end;
    }

    .buttons h3{
        font-size: 20px;
        font-weight: 400;
    }

    .instagram,
    .github,
    .linkedin {
        font-size: 14px;
        width: 15rem;
    }

    /* Footer */

    .cont-footer{
        line-height: 50px;
        height: 50px;
        width: 120%;
    }

    .creditos{
        line-height: 25px;
        height: 25px;
        font-size: 18px;
    }

}

@media screen and (min-width: 930px) and (max-width: 1100px) {

    body{
        max-width: 1000px;
        max-height: 780px;
    }

    .menu{
        margin: 2rem 2rem;
        padding: 1rem 3rem 1rem 3rem;
        font-size: 18px;
        margin: 2rem 0rem;
        gap: 24px;
    }

    .img img{
        width: 25rem;
        height: 25rem;
        margin-top: 5%;
        margin-left: 5%;
        
    }
    .menu a{
        width: 8rem;
        height: 3rem;
        line-height: 2.5rem; 
    }

    .text{
        padding: 1rem 5rem 1rem 3rem;
        margin: 0 0 0 0rem;
        width: 33rem;
    }

    .text h1{
        font-size: 25px;
        line-height: 35px;
    }

    .text h4{
        font-size: 18px;
        line-height: 35px;
    }

    .buttons{
        align-items: flex-end;
    }

    .buttons h3{
        font-size: 20px;
        font-weight: 400;
    }

    .instagram,
    .github,
    .linkedin {
        font-size: 14px;
        width: 15rem;
    }

    /* Footer */

    .cont-footer{
        line-height: 50px;
        height: 50px;
        width: 130%;
    }

    .creditos{
        line-height: 25px;
        height: 25px;
        font-size: 18px;
    }

}

@media screen and (min-width: 1100px) and (max-width: 1250px) {

    body{
        max-width: 1100px;
        max-height: 780px;
    }

    .menu{
        margin: 2rem 2rem;
        padding: 1rem 3rem 1rem 3rem;
        font-size: 18px;
        margin: 2rem 0rem;
        gap: 24px;
    }

    .img img{
        width: 30rem;
        height: 30rem;
        margin-top: 5%;
        margin-left: 20%;
        
    }
    .menu a{
        width: 8rem;
        height: 3rem;
        line-height: 2.5rem; 
    }

    .text{
        padding: 1rem 2rem 1rem 3rem;
        margin: 0 0 0 0rem;
        width: 33rem;
    }

    .text h1{
        font-size: 25px;
        line-height: 35px;
    }

    .text h4{
        font-size: 18px;
        line-height: 35px;
    }

    .buttons h3{
        font-size: 20px;
        font-weight: 400;
    }

    .instagram,
    .github,
    .linkedin {
        font-size: 14px;
        width: 15rem;
    }

    /* Footer */

    .cont-footer{
        line-height: 50px;
        height: 50px;
        width: 115%;
    }

    .creditos{
        line-height: 25px;
        height: 25px;
        font-size: 18px;
    }

}

@media screen and (min-width: 1250px) and (max-width: 1400px) {

    body{
        max-width: 1400px;
        max-height: 780px;
    }

    .menu{
        margin: 2rem 2rem;
        padding: 1rem 3rem 1rem 3rem;
        font-size: 18px;
        margin: 2rem 3rem;
        gap: 24px;
    }

    .img img{
        width: 30rem;
        height: 30rem;
        margin-top: 5%;
        margin-left: 31%;    
    }
    .menu a{
        width: 8rem;
        height: 3rem;
        line-height: 2.5rem; 
    }

    .text{
        padding: 1rem 2rem 1rem 3rem;
        margin: 0 0 0 3rem;
        width: 33rem;
    }

    .text h1{
        font-size: 25px;
        line-height: 35px;
    }

    .text h4{
        font-size: 18px;
        line-height: 35px;
    }

    .buttons h3{
        font-size: 20px;
        font-weight: 400;
    }

    .instagram,
    .github,
    .linkedin {
        font-size: 14px;
        width: 15rem;
    }

    /* Footer */

    .cont-footer{
        line-height: 50px;
        height: 50px;
        width: 115%;
    }

    .creditos{
        line-height: 25px;
        height: 25px;
        font-size: 18px;
    }

}


@media screen and (min-width: 1401px) {
    .menu{
        margin: 2rem 0rem;
    }

    .img{
        margin-left: -10%;
    }
}